body, html
{
	height: 100%;
	margin: 0;
	/*width: 1280px;*/
}

hr
{
	margin-left: auto;
	margin-right: auto;
}

@font-face
{
	font-family: simplistic;
	src: url(Simplistic.ttf);
}

#splashScreen
{
	font-family: simplistic;
	height: 100%;
	position: relative;
	font-size: 25px;
}

#middle
{
	position: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	text-align: center;
}

#loadingWheel
{
	border: 8px solid #B0C4DE; /* Light Slate Grey */
	border-radius: 50%;
	border-top: 8px solid #000000; /* Black */
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	animation: wheelSpinner 2s linear infinite;
}

@keyframes wheelSpinner
{
	0%
	{ 
		transform: rotate(0deg); 
	}
	100% 
	{ 
	transform: rotate(360deg); 
	}
}