body
{
	background-color:Black;
}
#Main
{
	width: 1280px;
	height: 640px;
	margin-left: auto;
	margin-right: auto;
	background-color:#b0f2cb;
}
title
{
	color: black;
	text-align: center;
}
h2
{
border: 2px solid #B0C4DE;
	background-color: white;
	color: black;
	text-align: center;
	padding: 14px 28px;
	font-size: 16px;
	margin: 5px;
	cursor: pointer;
	transition-duration: 0.5s;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
ul
{
	text-align: center;
	font-size: 14px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
button
{
border: 2px solid #B0C4DE;
	background-color: offwhitewhite;
	color: black;
	text-align: center;
	padding: 14px 28px;
	font-size: 12px;
	margin: 3px;
	cursor: pointer;
	transition-duration: 0.5s;
	width: 125px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}